IF (propertyA="address") && 

(propertyB="address") && 

((literalA contains_abbreviation) || (literalB contains_string+contains_number+contains_(street|avenue|road|etc))) 

THEN  fusionaction="Keep Left"


-----------------------
#(pA="dateA")&(pB="dateB")
if(LA >| LB)
then KEEP(LA)&REP(LA,-,/)
else KEEP(LB)&REP(LB,-,/)



